
body{
    display: flex;
    justify-content: center;
}.container{
 width: 900px;height: 610px;
 display:grid;grid-template-columns:1fr 2fr ;
 border: 5px solid black;border-radius: 8px; 
} .container .left{
    background-color:#649694 ;
}
.container .right{
    background-color:#E5C4B8 ;
}

img{
    border-radius: 150px;margin-left: 50px ;margin-top: 25px;
} .first{
    margin-left: 27px;margin-top: 30px;
} .second{
    margin-left: 15px;margin-top: 75px;
 } 

 .third{
    margin-top: 20px;margin-left: 15px;
} .fourth{
    margin-left: 15px;margin-top: 72px;
} .fifth{
margin-top: 38px;
/* } @media screen {min-width: 475px;}
    @media screen {min-width: 640px;}
@media screen {min-width: 768px;}
@media screen {min-width: 1024px;}
@media screen {min-width: 1280px;}
@media screen {min-width: 1536px;} */